com.system76.CosmicBackground/
com.system76.CosmicComp/v1/pinned_workspaces
com.system76.CosmicNotifications/v1/do_not_disturb
com.system76.CosmicPortal/v1/screenshot

io.github.cosmic_utils.weather-applet/v1/latitude
io.github.cosmic_utils.weather-applet/v1/longitude
