build/
package/
sync/

*.userdb
user.yaml
installation.yaml

bopomofo_express.schema.yaml
bopomofo.schema.yaml
bopomofo_tw.schema.yaml
combo_pinyin_layouts.yaml
combo_pinyin.schema.yaml
combo_pinyin_split.schema.yaml
combo_pinyin_tonal_chords.schema.yaml
combo_pinyin_tonal_chords.yaml
combo_pinyin_with_tones.schema.yaml
detenele.schema.yaml
luna_pinyin.dict.yaml
luna_pinyin_fluency.schema.yaml
luna_pinyin.schema.yaml
luna_pinyin_simp.schema.yaml
luna_pinyin_tw.schema.yaml
luna_quanpin.schema.yaml
pinyin.yaml
terra_pinyin_12345.schema.yaml
terra_pinyin.dict.yaml
terra_pinyin.schema.yaml
zhuyin.yaml
